
nav {
    background-color: #4a148c; 
    padding: 15px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav > ul > li {
    margin: 0 10px;
}


.menu-item {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}


.menu-item:hover {
    background-color: #7b1fa2; 
    border-radius: 3px;
}


#active {
    background-color: #ff9800; 
    border-radius: 3px;
}